*,
*::before,
*::after {
    box-sizing: border-box;
}
  $break-small: 600px;
  $font-primary: 'Source Sans Pro', sans-serif;
  $color-dark: #303030;
  $color-light: #fff;
  $color-accent: #16e0bd;

  $bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);

/* General styles */

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: #a2a2a2;
}

:focus {
    outline: 3px solid $color-accent;
    outline-offset: 3px;
}

strong { 
  color: $color-accent;
  font-weight: var(--fw-bold) }

section {
  padding-top: 2em;
  &:not(:first-child) {
    border-top: 2px solid #efefef;
  }
}

 section > *:last-child {
    margin-bottom: 2em;
 }

 article { 
   margin-bottom: 2em;
 }

/* typography */

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.7rem;
}

/* Links */
a {
  transition: transform 200ms ease-in-out;
  display: inline-block;
  color: $color-accent;
  &:hover {
    transform: scale(1.15);
  }
}

/* main */

.main-grid {
  display: grid;
  grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
  grid-column-gap: 1em;
  @media (min-width: $break-small) {
    grid-template-columns: 30% minmax(1em, 2em) 1fr 1fr minmax(1em, 2em);
  }
}

.main-grid > * {
  grid-column: 2 / -2;
  @media (min-width: $break-small) {
    grid-column: 3 / span 2;
  }

}

.header-content {
  grid-column: 2 / -2;
  text-align: center;
  padding: 4em 1em;
}

#header {
  background-color: rgba(0, 0, 0, 0.6);
  @media (min-width: $break-small) {
  position: fixed;
  height: 100%;
  width: 30%;
  grid-template-columns: none;
  }
}



.list-skills { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  margin: 0 0 2em;
  @media (min-width: $break-small) {
    padding-left: 1em;
  }

  li {
    border-bottom: 1px solid #ccc;
    list-style: none;
    padding-bottom: 5px;
    padding-top: 5px;
    width: calc(100% * (1/3) - 15px);
    margin-bottom: 5px;
    position: relative;
    color: #5a5a72;
    font-weight: 700;
    flex: 1 auto;
   
   
    @media (min-width: $break-small) {
      border-bottom: none;
      &:last-child {
        list-style: none;
      }
      &::before {
        color: $color-accent;
        content: "\2022"; 
        width: 1em;
        display: inline-block;
        margin-left: -1em;
      }
    }
  }
}
.list-experience {
  li {
    list-style: none;
  }
}

.work-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
}

/* footer */
footer {
  background-color: #1f1815;
}
.footer-landscape {
  display: none;
  @media (min-width: $break-small) {
  display: block;
  grid-column: 2 / -2;
  background: none;
  }
}

.footer-mobile {
  @media (min-width: $break-small) {
  display: none;
  }
}

@media (min-width: $break-small) {
  
}

.contact-phone {
  text-align: center;
  a {
    color: rgba(255,255,255,.4);
    font-size: 1.5rem;
    text-decoration: none;
    &:after {
    border-bottom: 1px solid rgba(255,255,255,.25);
    bottom: -10px;
    content: "";
    height: 1px;
    position: absolute;
    right: 0;
    width: 100%;
    }
  }

}
.icons {
  display: flex;
  justify-content: center;
  padding-left: 0px;
  margin: 0 4em;
  li {
    list-style: none;
    &:not(:first-child) {
      padding-left: .75em;
    }
  }
  a {
    color: $color-accent;
    font-size: 2.25rem;
  }
}
.copyright {
  text-align: center;
  padding-left: 0;
  li {
    list-style: none;
    font-size: .8rem;
  }
}

/* image */
.avatar {
  margin-bottom: 1em;
  overflow: hidden;
  display: inline-block;
  position: relative;
  width: 130px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.08);
}

.face {
  position: relative;
  right: -16px;
  display: block;
}

.work-item img {
  width: 100%;
}

@media (min-width: $break-small) {
.work-item a {
  width: 100%;
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
	&:hover{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transform: scale(1.05);
  }
  img {
    border-radius:10px;
  }
}
}
